---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
import aboutImg from "@/assets/about-astro.png";

const meta = {
	title: "About",
	description: "I'll try not to dox myself here.",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Hi, I’m Daniel. You might know me as x0ba. I'm a high school student from San Jose, California.
		</p>
		<p>Here are my some of my skills/interests:</p>
		<ul class="list-inside list-disc">
			<li>Grade 10 Violin.</li>
			<li>Experienced in web development.</li>
			<li>I like biking.</li>
			<li>Learning Rust and C++ right now.</li>
		</ul>
		<p>
			This site is published using <a
				class="cactus-link inline-block"
				href="https://astro.build"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository">Astro.</a
		</p>
		<p>
			Find the source code <a
				class="cactus-link inline-block"
				href="https://github.com/x0ba/site"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository">here.</a
		</p>
	</div>
</PageLayout>
