---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "About",
	description: "I'll try not to dox myself here.",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Hi, I’m Daniel. You might know me as x0ba. I'm a high school student from San Jose,
			California.
		</p>
		<p>
			While not drowning in schoolwork, I'm probably hacking on <a
				class="cactus-link inline-block"
				href="https://github.com/x0ba">open source</a
			>, playing Valorant,
			<a class="cactus-link inline-block" href="https://literal.club/x0ba">reading</a>, playing
			music, riding my bike, or messing around on my VPS.
		</p>
		<p>I'm interested in programming languages, privacy, and productivity.</p>
		<p>
			This site is published using <a
				class="cactus-link inline-block"
				href="https://astro.build"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository">Astro.</a
			>
			<p>
				Find the source code <a
					class="cactus-link inline-block"
					href="https://github.com/x0ba/site"
					target="_blank"
					rel="noopener noreferrer"
					aria-label="github repository">here.</a
				>
			</p>
		</p>
	</div>
</PageLayout>
