---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "/uses",
	description: "I get to impose all my opinions on you.",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">/uses</h1>
		<p>
			This seems to be somewhat of a trend in the developer community these days, so here's a
			(hopefully complete and updated) list of equipment and apps I use in my day-to-day workflow as
			a student and developer.
		</p>
		<section>
			<h1 class="title mb-4">Hardware</h1>
			<h2 class="title mb-4 text-xl">Devices</h2>
			<ul class="mb-4 list-inside list-disc">
				<li>
					<a class="cactus-link inline-block" href="https://www.apple.com/macbook-air-m1/"
						>M1 Macbook Air</a
					>;
				</li>
				<li>
					<a class="cactus-link inline-block" href="https://www.apple.com/iphone-se/"
						>An iPhone SE 2022</a
					> (small phones ftw);
				</li>
				<li>
					A random old HP laptop I found in my closet with an Intel i5 processor and 4 gigs of ram
					as a home server. Hasn't exploded (yet).
				</li>
			</ul>
			<h2 class="title mb-4 text-xl">Keyboard/Mouse</h2>
			<ul class="mb-4 list-inside list-disc">
				<li>
					<a
						class="cactus-link inline-block"
						href="https://www.amazon.com/Granvela-MechanicalEagle-Multicolor-Mechanical-Tenkeyless/dp/B01DBVGZSA"
						>MechanicalEagle Z-77</a
					> mechanical TKL and
					<a
						class="cactus-link inline-block"
						href="https://www.amazon.com/Logitech-Triathlon-Bluetooth-Hyper-Fast-Scrolling/dp/B087Z6LSHW"
						>Logitech M720 Triathlon</a
					>;
				</li>
			</ul>
			<h2 class="title mb-4 text-xl">Sound</h2>
			<ul class="mb-4 list-inside list-disc">
				<li>
					<a
						class="cactus-link inline-block"
						href="https://www.amazon.com/Apple-MWP22AM-A-cr-AirPods-Renewed/dp/B0828BJGD2"
						>Airpods Pro 1st gen</a
					>;
				</li>
				<li>
					<a
						class="cactus-link inline-block"
						href="https://www.amazon.com/Sony-WH-1000XM4-Canceling-Headphones-phone-call/dp/B0863TXGM3"
						>Sony WH-1000XM4 Headphones</a
					>;
				</li>
			</ul>
			<h2 class="title mb-4 text-xl">Software</h2>
			<ul class="mb-4 list-inside list-disc">
				<p>Here are some apps I use every day.</p>
				<li>
					<a class="cactus-link inline-block" href="https://github.com/neovim/neovim">Neovim</a>:
					Editor.
				</li>
				<li>
					<a class="cactus-link inline-block" href="https://github.com/wez/wezterm">Wezterm</a>:
					Terminal Emulator.
				</li>
				<li>
					<a class="cactus-link inline-block" href="https://github.com/tmux/tmux">Tmux</a>: Terminal
					Multiplexer.
				</li>
				<li>
					<a class="cactus-link inline-block" href="https://github.com/nixos/nix"
						>Nix Package Manager</a
					> and <a
						class="cactus-link inline-block"
						href="https://github.com/nix-community/home-manager">Home Manager</a
					>: Configuration management for all my systems.
				</li>
				<li>
					<a class="cactus-link inline-block" href="https://github.com/be5invis/Iosevka"
						>Iosevka SS14</a
					>: Font.
				</li>
				<li>
					<a class="cactus-link inline-block" href="https://github.com/koekeishiya/yabai">Yabai</a>
					 and <a class="cactus-link inline-block" href="https://github.com/koekeishiya/skhd"
						>SKHD</a
					>: Tiling window management on MacOS.
				</li>
				<li>
					<a class="cactus-link inline-block" href="https://obsidian.md">Obsidian</a>: second brain.
				</li>
			</ul>
			<p class="mb-4"></p>
		</section>
	</div>
</PageLayout>
